/selavy-process-0.log
/selavy-process-24-processed.json
/selavy-process-24-truncated.log
/selavy-process-24.log
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405-processed.json
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405-truncated.log
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405.log
/test_array_data.dat
/test_casa_data.FITS
