/selavy-process-0.log
/selavy-process-24.log
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405.log
/selavy-process-24-truncated-cubelet.log
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405-truncated-cubelet.log
/selavy-process-24-truncated-spectrum.log
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405-truncated-spectrum.log
/selavy_cont_image.i.NGC5044_3B_band2.SB40905.cont.taylor.0.restored.conv.fits_Full_14342405-truncated-spectrum-I.log
